<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261626233441-93cf6nthlppnsarnhca4phovc80vcd6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261626233441-93cf6nthlppnsarnhca4phovc80vcd6k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>261626233441-s653323rf1uvpo0rm9r9hgmke16vl05e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWpsLKJ_UB0qpiD8bjHOxAfYd1I_vuaT4</string>
	<key>GCM_SENDER_ID</key>
	<string>261626233441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.neurons</string>
	<key>PROJECT_ID</key>
	<string>neurons-uu8gzh</string>
	<key>STORAGE_BUCKET</key>
	<string>neurons-uu8gzh.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261626233441:ios:e1fc8153abf2be164b6020</string>
</dict>
</plist>